<!-- start custom footer snippets -->
<div class="site-foot">
  <div>
    <p class="site-foot__name">{{ site.author.name }}</p>
    <p class="site-foot__blurb">{{ site.author.bio }}</p>
  </div>
  <div>
    <p class="site-foot__label">Elsewhere</p>
    <ul class="site-foot__links">
      {% if site.author.email %}<li><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>{% endif %}
      {% if site.author.googlescholar %}<li><a href="{{ site.author.googlescholar }}">Google Scholar</a></li>{% endif %}
      {% if site.author.linkedin %}<li><a href="https://www.linkedin.com/in/{{ site.author.linkedin }}">LinkedIn</a></li>{% endif %}
      <li><a href="/files/My_Cv_final.pdf">Curriculum vitae (PDF)</a></li>
    </ul>
  </div>
</div>
<!-- end custom footer snippets -->
